.container {
	width: 100%
}

body {
	background: #78bab5;
	color : #404041;
}

nav {
	background : #252c2b;
    margin:0;
    padding: 10px 0 0 0;
    text-align:center;
	font-family: 'Open Sans', serif; font-weight: 600;
	text-transform: uppercase;
}

nav li{
	display: inline;
	list-style: disc none;
}

nav a{
	display: inline-block;
	padding: 0 5px 0 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 68px;
	height : 100%;
}

.rc-logo {
	margin-top: 30px;
}

.rc-features {
	background : #e2d276;
}

h2 {
	font-family: 'Open Sans', serif; font-weight: 800;
	font-size: 16px;
	text-transform: uppercase;
}

ul #features
{
    list-style: none;
}

#uncluttered
{
    list-style-image: url(../img/li-uncluttered.png);
}

#contact_list #i18l_phone
{
    list-style-image: url(images/i18l_wood_phone.png);
}