body {
	background  : #252c2b;
	font-family : 'Open Sans', serif; font-weight: 600;
	font-size   : 16px;
	line-height : 17px;
	color       : #404041;
}

.container {
	width : 100%;
}

.row {
	padding : 0 20px 0 20px;
}

nav {
    margin         : 0;
    padding        : 10px 0 0 0;
    text-align     : center;
	font-family    : 'Open Sans', serif; font-weight: 600;
	text-transform : uppercase;
	position       : relative;
}
nav li {
	display    : inline;
	list-style : disc none;
}
nav a {
	display     : inline-block;
	padding     : 0 1% 0 1%;
	color       : #ffffff;
	font-size   : 16px;
	line-height : 2em;
	height      : 100%;
}

.hero {
	background  : #78bab5;
	height      : 300px;
	padding-top : 20px;
	position    : relative;
	z-index     : 1000;
}

.computer-carousel {
	bottom   : 0;
	position : absolute;
}

.rc-logo {
	display        : inline;
	vertical-align : baseline;
}

.rc-features {
	background : #e2d276;
	padding    : 70px 0 50px 0;
	z-index    : 1;
}

h2 {
	font-family    : 'Open Sans', serif; font-weight: 800;
	font-size      : 16px;
	color          : #474747;
	letter-spacing : 1px;
	text-transform : uppercase;
}

ul .features {
    list-style : none;
}
#uncluttered {
    list-style-image :  url(../img/li-uncluttered.png);
    margin-left      : 10px;
}
#textmate {
    list-style-image : url(../img/li-textmate.png);
    margin-left      : 10px;
}
#ruby {
    list-style-image : url(../img/li-ruby.png);
    margin-left      : 10px;
}
#extensible {
    list-style-image : url(../img/li-extensible.png);
    margin-left : 10px;
}
#github {
    list-style-image : url(../img/li-github.png);
    margin-left      : 10px;
}
#undercon {
    list-style-image : url(../img/li-undercon.png);
    margin-left      : 10px;
}

footer {
	font-family    : 'Roboto Slab' serif; font-weight: 700;
	font-size      : 16px;
	color          : #ffffff;
	text-transform : uppercase;
	text-align     : center;
	padding        : 20px 0 20px 0;
}

.copyright {
	display  : inline;
	position : relative;
}

.copyright p {
	font-size : 12px;
	color     : #666665;
}

@media only screen and (min-width: 48em) {
	.hero {
		padding    : 50px 0 50px 0;
		height     : 450px;
		z-index    : 1000;
	}
	.rc-logo {
		display        : inline;
		vertical-align : baseline;
		position       : absolute;
		top            : 200px;
	}
	.row {
		width         : 100%;
  		margin-left   : auto;
		margin-right  : auto;
		margin-top    : 0;
		margin-bottom : 0;
		max-width     : 62.5em;
		*zoom         : 1;
	}
	nav a {
		line-height : 68px;
		height      : 100%;
	}
}