.full-screen {
	width: 100%
}

body {
	background: #78bab5;
}

nav {
	background : #252c2b;
	list-style:none;
    margin:0;
    padding: 10px 0 0 0;
    text-align:center;
	font-family: 'Open Sans', serif; font-weight: 600;
	text-transform: uppercase;
}

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 0 5px 0 5px;
	color: #ffffff;
	font-size: 16px;
	line-height: 68px;
	height : 100%;
}

.logo {
	font-family: 'Roboto Slab', serif;
}